{% extends 'base.html.twig' %}

{% block title %}Lilly Doo{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <div class="row">
        <h1>Contact System</h1>
    </div>
    <div class="row">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name Surname</th>
            <th scope="col">E-mail</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
{% for contact in contacts %}
    
            <tr>
            <th scope="row">{{contact.id}}</th>
            <td><a href="../public/index.php/contact/{{contact.id}}">{{contact.firstname}} {{contact.lastname}}</a></td>
            <td>{{contact.email}}</td>
            <td>{{contact.phonenumber}}</td>
            <td>{{contact.address}}</td>
            </tr>
{% endfor %}

        </tbody>
        </table>    
    </div>
    <div class="row">
        <div class="navigation">
            {{ knp_pagination_render(contacts) }}
        </div>
    </div>
</div>
{% endblock %}
